*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 100px;
  width: 100%;
  // height: 100%;
  background: #E8E8ED;
}
body{
  width: 100%;
}
@media screen and(width:320px){
  html{
    font-size: 100px;
  }
}
@media screen and(width:360px){
  html{
    font-size: 113px;
  }
}
@media screen and(width:375px){
  html{
    font-size: 118px;
  }
}
@media screen and(width:384px){
  html{
    font-size: 121px;
  }
}
@media screen and(width:411px){
  html{
    font-size: 128px;
  }
}
@media screen and(width:414px){
  html{
    font-size: 130px;
  }
}
@media screen and(width:435px){
  html{
    font-size: 140px;
  }
}
.toubu{
  width: 100%;
  height:44px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  span{
    display: inline-block;
    padding-left: 5px;
    padding-right: 9px;
    height: 100%;
    font-size: 12px;
    line-height: 70px;
    color: #fff;
    &::before{
      font-family: "iconfont" !important;
      display:block;
      height: 100%;
      content: "\e657";
      font-size: 20px;
      position: absolute;
      font-weight: bold;
      top: -15px;
      left: 7px;
    }
  }
  .jd{
    position: absolute;
    top: 7px;
    left: 13%;
    width: 71.7%;
    &::before{
      content: "JD";
      color: rgb(242, 22, 35);
      position: absolute;
      left: 5px;
      display: inline-block;
      font-weight: bold;
      font-size: 20px;
      top: 3px;
    }
    &::after{
      font-family: "iconfont" !important;
      content: "\e602";
      color: rgb(145, 149, 148);
      font-size: 16px;
      display: inline-block;
      position: absolute;
      left: 35px;
      top: 5px;
    }
    input{
      width: 100%;
      height: 30px;
      padding-left: 60px;
      border-radius:20px;
      outline-style: none;
      border: none;
      background: rgba(255,255,255,0.6);
      color:rgb(145, 143, 148);
    }
  }
  img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 87%;
    top: 0.07rem;
  }

}
.lunbo{
  margin-top: -10px;
  position: relative;
  img{
    width: 100%;
  }
  .yi{
    position: absolute;
    top: 0.57rem;
    width: 0.5rem;
    height: 0.15rem;
    left: 1.26rem;
    overflow: hidden;
    span{
      color: #fff;
      font-size: 0.12rem;
      height: 0.15rem;
      width: 1rem;
      display: inline-block;
      line-height: 0.15rem;
    }
  }
  .er{
    position: absolute;
    width: 1.48rem;
    height: 14px;
    top: 1.15rem;
    left: 1.11rem;
    color: #fff;
    font-size: 0.13rem;
  }
}
.huodong{
  width: 100%;
  height: 1.94rem;
  background: #0098f1;
  margin-top: -10px;
  .shu{
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 25px;
    width: 100%;
    height: 0.83rem;
    &:before{
      content: "";
      clear: both;
      display: block;
    }
    li{
      list-style: none;
      float: left;
      width: 23%;
      margin: 0 5px 5px 0;
      img{
        width: 100%;
      }
    }
  }
  .cuxiao{
    width: 100%;
    height: 0.377rem;
    padding: 0.0853rem 0;
    position: relative;
    a{
      margin:auto;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1.53rem;
      height: 0.2rem;
      padding-left: 5px;
      text-align: center;
      list-style-position: 0.2rem;
      display: inline-block;
      font-size: 0.12rem;
      border-radius: 20px;
      color: #fff;
      background: rgba(255,255,255,0.4);
    }
  }
  .zhibo{
    position: relative;
    width: 100%;
    height: 0.64rem;
    background: -webkit-gradient(linear, left top, right top, color-stop(0.37, #e21447), color-stop(0.55, #c21c90), color-stop(0.9, #a822cd));
    .zhibo_tu{
      width: 0.7rem;
      height: 0.4rem;
      position: absolute;
      top: 8px;
      left: 10px;
      background: url(../img/618.png);
      background-size: 2.1rem 1.2rem;
      background-position: 0 -0.22rem;
    }
    .zhibo_you{
      width: 2.42rem;
      height: 0.36rem;
      float: right;
      border-left: 1px solid rgba(168, 172, 165, 0.85);
    }
    .zhibo_h{
      width: 2.41rem;
      height: 0.36rem;
      span:nth-child(1){
        margin-left: 10px;
        background: rgb(140, 238, 45);
        padding: 3px 5px;
        color: #fff;
        font-size: 0.12rem;
        border-radius: 5px;
      }
      span:nth-child(2){
        color: #fff;
        font-size: 0.12rem;
        margin-left: 5px;
      }
    }
    .nubiya{
      font-size: 0.12rem;
      color: #222;
      margin-top: -0.15rem;
      margin-left: 10px;
    }
    i{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0.4rem;
      height: 0.6rem;
      background: url(../img/618.png);
      background-position: 0.05rem 0.59rem;
      background-size: 0.8rem 1.2rem;
    }
  }

}
.zhongxin_k{
  width: 100%;
  height: 0.65rem;
  padding-top: 20px;
  background: #edede8;
  #zhongxin{
    height: 0.65rem;
    border-right: 1px solid #edede8;
    background: #fff;
    box-sizing: border-box;
    .lingjuan{
      font-family:Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Arial;
      margin-top: 10px;
      float: left;
      width: 0.95rem;
      height: 0.21rem;
      color: rgb(249, 47, 47);
      line-height:0.21rem;
      font-size: 0.14rem;
      font-weight: bold;
    }
    .jianshu{
      float: left;
      width: 0.97rem;
      height: 0.18rem;
      font-size: 0.12rem;
      color: #333;
      font-weight: bold;
      line-height: 0.18rem;
    }
    img{
      margin-top: 10px;
      width: 0.5rem;
    }
  }
  #huiyuan{
    padding: 0;
    height: 0.65rem;
    background: #fff;
    .huiyuan{
      margin-top: 10px;
      font-family:Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Arial;
      color: rgb(143, 93, 226);
      font-size: 0.14rem;
      font-weight: bold;
      float: left;
      width:0.87rem;
      height: 0.21rem;
      line-height: 0.21rem;
    }
    .hongbao{
      float: left;
      width: 0.87rem;
      font-family:Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Arial;
      height: 0.18rem;
      float: left;
      color: #333;
      font-size: 0.12rem;
      line-height: 0.18rem;
    }
    img{
      width: 0.5rem;
      position: absolute;
      top: 0.1rem;
      right: 0.1rem;
    }
  }
}
.meiri{
  width: 100%;
  height: 2.15rem;
  padding-top: 20px;
  background: #edede8;
  .mr_h{
    background: #fff;
    width: 100%;
    height: 0.3rem;
    padding: 5px 10px;
    position: relative;
    margin-top: 10px;
    div{
      width: 1.2rem;
      height: 0.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../img/zi.png);
      background-size: 1.2rem 4.45rem;
      background-position: 0 -3.6rem;
      &::before{
        content: "";
        display: block;
        width: 0.6rem;
        height: 0.15rem;
        position: absolute;
        left: 0.1rem;
        top: 8px;
        background: url(../img/zi.png);
        background-position: 0 -0.45rem;
        background-size: 1.2rem 4.45rem;
      }
    }
    img{
      width: 0.5rem;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
    span{
      color: #999;
      font-size: 0.12rem;
      font-family:Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Arial;
      float: right;
      line-height: 0.3rem;
    }
  }
  .mr_tu{
    #mr_1{
      height: 1.75rem;
      background:url(../img/dn.jpg);
      background-size: 100%;
      position: relative;
      div:nth-child(1){
        width: 1.6rem;
        height: 0.3rem;
        position: absolute;
        top: 0.3rem;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 0.2rem;
        color: #fff;
        font-weight: bold;
      }
      div:nth-child(2){
        width: 1.6rem;
        height: 0.18rem;
        position: absolute;
        margin: auto;
        text-align: center;
        left: 0;
        right: 0;
        top: 0.6rem;
        color: #fff;
        font-size: 12px;
      }
      div:nth-child(3){
        width: 0.8rem;
        height: 0.24rem;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0.85rem;
        background: rgba(78, 76, 76, 0.8);
        text-align: center;
        line-height: 0.24rem;
        color: #fff;
      }
    }
    #mr_2{
      height: 1.75rem;
      background: url(../img/lizhi.jpg) no-repeat #fff;
      background-size: 100%;
      background-position: 0 0.65rem;
      position: relative;
      div:nth-child(1){
        width: 0.87rem;
        height: 0.17rem;
        position: absolute;
        top: 0.15rem;
        left: 0.15rem;
        color: #333;
        font-size: 0.16rem;
        font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      div:nth-child(2){
        font-size: 0.12rem;
        color: #999;
        width:0.87rem;
        height: 0.12rem;
        position: absolute;
        top: 0.35rem;
        left: 0.15rem;
      }
      div:nth-child(3){
        width: 0.55rem;
        height: 0.14rem;
        position: absolute;
        left:0.2rem;
        top: 0.5rem;
        color: #e4393c;
        font-size: 0.12rem;
      }
    }
  }
}
.xintiao{
  padding-bottom: 10px;
  background: #edede8;
  width: 100%;
  height:2.67rem;
  margin-top: 30px;
  .xt_t{
    padding: 5px 10px;
    width: 100%;
    height: 0.46rem;
    background: #fff;
    div{
      width: 0.6rem;
      height: 0.15rem;
      background: url(../img/zi.png);
      background-position: 0 -1.05rem;
      background-size: 1.2rem 4.45rem;
    }

  }
  #xt_1,#xt_2,#xt_3{
    border-right: 1px solid #edede8;
    padding: 0;
    height: 1.95rem;
    background: #fff;
    img{
      width: 1rem;
    }
    div{
        width: 0.86rem;
        height: 0.3rem;
        padding: 0.03rem 0.05rem;
        font-size: 12px;
        color: #333;
        line-height: 0.12rem;
        font-family: Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial;
    }
    span{
      font-size: 0.14rem;
      color: rgb(247, 79, 104);
      padding-left: 0.05rem;
    }
    p{
      padding-left: 0.05rem;
      font-size: 0.12rem;
      color: rgb(165, 166, 168);
    }
  }
}
.pinpai{
  width: 100%;
  height: 2.83rem;
  .temai{
    width: 100%;
    height: 0.4rem;
    background: #fff;
    #tm_1{
      position: relative;
      p{
        position: absolute;
        top: 0.08rem;
        left: 0.05rem;
        width: 0.6rem;
        height: 0.15rem;
        background: url(../img/zi.png);
        background-position: 0 -0.3rem;
        background-size: 1.2rem 4.45rem;
      }
    }
    #tm_2{
      img{
        width: 0.5rem;
      }
      span{
        font-size: 0.12rem;
        color: rgb(127, 127, 131);
      }
    }
  }
  .pp_tu{
    #pt_1{
      height: 1.75rem;
      background: url(../img/xie.png);
      background-size:2.66rem 1.75rem;
      background-position: -0.3rem 0;
      &::before{
        content: "";
        display: block;
        width: 1.72rem;
        height: 1.28rem;
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 247, 255, 0.8);
      }
      div{
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #333;
        width: 1.6rem;
        height: 1.16rem;
        text-align: center;
        img{
          width: 0.45rem;
          margin-top: 0.15rem;
        }
        p{
          font-size: 0.12rem;
          color: #333;
        }
        span{
          padding: 0.05rem 0.07rem;
          color: #fff;
          background: #000;
          font-size: 0.12rem;
        }
      }
    }
    #pt_2{
      height: 1.75rem;
      overflow: hidden;
      padding: 0 5px;
      div{
        width: 100%;
        height: 1rem;
        border-bottom: 1px solid #edede8;
        p:nth-child(1){
          font-size: 0.12rem;
          color: #333;
          margin-bottom: 0;
        }
        p{
          font-size: 0.12rem;
          color: #999;
          margin-bottom: 0;
        }
        img{
          width: 1.07rem;
        }
      }
    }
  }
  .pp_logo{
    width: 100%;
    height: 0.68rem;
    div{
      overflow: hidden;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      img{
        width: 0.6rem;
        height: 0.4rem;
      }
      p{
        color: rgb(240, 56, 73);
        font-size: 0.12rem;
        width: 1rem;
        height:0.2rem;
        // margin-top: 0.4rem;
      }
    }
  }
}
.suib{
  width: 100%;
  height: 0.41rem;
  padding: 10px;
  background: #edede8;
  color: rgb(102,102,102);
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.41rem;
  margin: 0;
}
.xia{

  background: #edede8;
  width: 100%;
  height: 1rem;
  padding: 10px;
  .jingd{
    width: 100%;
    height: 0.15rem;
    color: rgb(252, 68, 68);
    text-align: center;
    line-height: 0.15rem;
    font-weight: bold;
  }
  .yemian{
    color: #444;
    font-size: 0.12rem;
    text-align: center;
    line-height: 0.15rem;
    width: 100%;
    height: 0.15rem;
  }
}
.dianji{
  width: 100%;
  height: 0.4rem;
  background: rgba(#dbd9d9, 0.87);
  position: fixed;
  bottom: -0.1rem;
  left: 0;
  list-style: none;
  box-sizing: border-box;
  li{
    text-align: center;
    list-style: none;
    width: 20%;
    height: 100%;
    float: left;
    line-height: 0.6rem;
    position: relative;
    box-sizing: border-box;
    a{
      color: rgb(72, 72, 73);
      font-size: 0.12rem;
    }

  }
  li:nth-child(1){
    &::before{
      content: "";
      display: block;
      width: 0.2rem;
      height:0.2rem;
      position: absolute;
      top: 0;
      margin: auto;
      left: 0;
      right: 0;
      background: url(../img/jd.png);
      background-size: 100%;
    }
  }
  li:nth-child(2){
    &::before{
      content: "";
      display: block;
      width: 0.2rem;
      height:0.2rem;
      position: absolute;
      top: 0;
      margin: auto;
      left: 0;
      right: 0;
      background: url(../img/ss.png);
      background-size: 100%;
    }
  }
  li:nth-child(3){
    &::before{
      content: "";
      display: block;
      width: 0.47rem;
      height:0.35rem;
      position: absolute;
      top: -0.15rem;
      margin: auto;
      left: 0;
      right: 0;
      background: url(../img/6.png);
      background-size: 100%;
    }
  }
  li:nth-child(4){
    &::before{
      content: "";
      display: block;
      width: 0.2rem;
      height:0.2rem;
      position: absolute;
      top: 0;
      margin: auto;
      left: 0;
      right: 0;
      background: url(../img/gwc.png);
      background-size: 100%;
    }
  }
  li:nth-child(5){
    &::before{
      content: "";
      display: block;
      width: 0.2rem;
      height:0.2rem;
      position: absolute;
      top: 0;
      margin: auto;
      left: 0;
      right: 0;
      background: url(../img/grzx.png);
      background-size: 100%;
    }
  }
}
