* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100px;
  width: 100%;
  background: #E8E8ED;
}

@media screen and (width: 320px) {
  html {
    font-size: 100px;
  }
}

@media screen and (width: 360px) {
  html {
    font-size: 113px;
  }
}

@media screen and (width: 375px) {
  html {
    font-size: 118px;
  }
}

@media screen and (width: 384px) {
  html {
    font-size: 121px;
  }
}

@media screen and (width: 411px) {
  html {
    font-size: 128px;
  }
}

@media screen and (width: 414px) {
  html {
    font-size: 130px;
  }
}

@media screen and (width: 435px) {
  html {
    font-size: 140px;
  }
}

.toubu {
  width: 100%;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.toubu span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 9px;
  height: 100%;
  font-size: 12px;
  line-height: 70px;
  color: #fff;
}

.toubu span::before {
  font-family: "iconfont" !important;
  display: block;
  height: 100%;
  content: "\e657";
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  top: -15px;
  left: 7px;
}

.toubu .jd {
  position: absolute;
  top: 7px;
  margin: auto;
  left: 0;
  right: 0;
  width: 71.8%;
}

.toubu .jd::before {
  content: "JD";
  color: #f21623;
  position: absolute;
  left: 5px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  top: 3px;
}

.toubu .jd::after {
  font-family: "iconfont" !important;
  content: "\e602";
  color: #919594;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 35px;
  top: 5px;
}

.toubu .jd input {
  width: 100%;
  height: 30px;
  padding-left: 60px;
  border-radius: 20px;
  outline-style: none;
  border: none;
  background: rgba(255, 255, 255, 0.6);
  color: #918f94;
}

.toubu img {
  width: 30px;
  height: 30px;
  margin: 7px;
  position: absolute;
  right: 0;
  top: 0;
}

.lunbo {
  margin-top: -10px;
  position: relative;
}

.lunbo img {
  width: 100%;
}

.lunbo .yi {
  position: absolute;
  top: 0.57rem;
  width: 0.5rem;
  height: 0.15rem;
  left: 1.26rem;
  overflow: hidden;
}

.lunbo .yi span {
  color: #fff;
  font-size: 0.12rem;
  height: 0.15rem;
  width: 1rem;
  display: inline-block;
  line-height: 0.15rem;
}

.lunbo .er {
  position: absolute;
  width: 1.48rem;
  height: 14px;
  top: 1.15rem;
  left: 1.11rem;
  color: #fff;
  font-size: 0.13rem;
}

.huodong {
  width: 100%;
  height: 1.94rem;
  background: #0098f1;
  margin-top: -10px;
}

.huodong .shu {
  margin: 10px 0;
  padding-left: 10px;
  padding-right: 25px;
  width: 100%;
  height: 0.83rem;
}

.huodong .shu:before {
  content: "";
  clear: both;
  display: block;
}

.huodong .shu li {
  list-style: none;
  float: left;
  width: 23%;
  margin: 0 5px 5px 0;
}

.huodong .shu li img {
  width: 100%;
}

.huodong .cuxiao {
  width: 100%;
  height: 0.377rem;
  padding: 0.0853rem 0;
  position: relative;
}

.huodong .cuxiao a {
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1.53rem;
  height: 0.2rem;
  padding-left: 5px;
  text-align: center;
  list-style-position: 0.2rem;
  display: inline-block;
  font-size: 0.12rem;
  border-radius: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.4);
}

.huodong .zhibo {
  position: relative;
  width: 100%;
  height: 0.64rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.37, #e21447), color-stop(0.55, #c21c90), color-stop(0.9, #a822cd));
}

.huodong .zhibo .zhibo_tu {
  width: 0.7rem;
  height: 0.4rem;
  position: absolute;
  top: 8px;
  left: 10px;
  background: url(../img/618.png);
  background-size: 2.1rem 1.2rem;
  background-position: 0 -0.22rem;
}

.huodong .zhibo .zhibo_you {
  width: 2.42rem;
  height: 0.36rem;
  float: right;
  border-left: 1px solid rgba(168, 172, 165, 0.85);
}

.huodong .zhibo .zhibo_h {
  width: 2.42rem;
  height: 0.36rem;
}

.huodong .zhibo .zhibo_h span:nth-child(1) {
  margin-left: 10px;
  background: #8cee2d;
  padding: 3px 5px;
  color: #fff;
  font-size: 0.12rem;
  border-radius: 5px;
}

.huodong .zhibo .zhibo_h span:nth-child(2) {
  color: #fff;
  font-size: 0.12rem;
  margin-left: 5px;
}

.huodong .zhibo .nubiya {
  font-size: 0.12rem;
  color: #222;
  margin-top: -0.15rem;
  margin-left: 10px;
}

.huodong .zhibo i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.4rem;
  height: 0.6rem;
  background: url(../img/618.png);
  background-position: 0.05rem 0.59rem;
  background-size: 0.8rem 1.2rem;
}

.zhongxin_k {
  width: 100%;
  height: 0.65rem;
  padding-top: 20px;
  background: #edede8;
}

.zhongxin_k #zhongxin {
  height: 0.65rem;
  border-right: 1px solid #edede8;
  background: #fff;
  box-sizing: border-box;
}

.zhongxin_k #zhongxin .lingjuan {
  font-family: Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Arial;
  margin-top: 10px;
  float: left;
  width: 0.95rem;
  height: 0.21rem;
  color: #f92f2f;
  line-height: 0.21rem;
  font-size: 0.14rem;
  font-weight: bold;
}

.zhongxin_k #zhongxin .jianshu {
  float: left;
  width: 0.97rem;
  height: 0.18rem;
  font-size: 0.12rem;
  color: #333;
  font-weight: bold;
  line-height: 0.18rem;
}

.zhongxin_k #zhongxin img {
  margin-top: 10px;
  width: 0.5rem;
}

.zhongxin_k #huiyuan {
  padding: 0;
  height: 0.65rem;
  background: #fff;
}

.zhongxin_k #huiyuan .huiyuan {
  margin-top: 10px;
  font-family: Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Arial;
  color: #8f5de2;
  font-size: 0.14rem;
  font-weight: bold;
  float: left;
  width: 0.87rem;
  height: 0.21rem;
  line-height: 0.21rem;
}

.zhongxin_k #huiyuan .hongbao {
  float: left;
  width: 0.87rem;
  font-family: Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Arial;
  height: 0.18rem;
  float: left;
  color: #333;
  font-size: 0.12rem;
  line-height: 0.18rem;
}

.zhongxin_k #huiyuan img {
  width: 0.5rem;
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
}

.meiri {
  width: 100%;
  height: 2.15rem;
  padding-top: 20px;
  background: #edede8;
}

.meiri .mr_h {
  background: #fff;
  width: 100%;
  height: 0.3rem;
  padding: 5px 10px;
  position: relative;
  margin-top: 10px;
}

.meiri .mr_h div {
  width: 1.2rem;
  height: 0.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/zi.png);
  background-size: 1.2rem 4.45rem;
  background-position: 0 -3.6rem;
}

.meiri .mr_h div::before {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.15rem;
  position: absolute;
  left: 0.1rem;
  top: 8px;
  background: url(../img/zi.png);
  background-position: 0 -0.45rem;
  background-size: 1.2rem 4.45rem;
}

.meiri .mr_h img {
  width: 0.5rem;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.meiri .mr_h span {
  color: #999;
  font-size: 0.12rem;
  font-family: Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Arial;
  float: right;
  line-height: 0.3rem;
}

.meiri .mr_tu #mr_1 {
  height: 1.75rem;
  background: url(../img/dn.jpg);
  background-size: 100%;
  position: relative;
}

.meiri .mr_tu #mr_1 div:nth-child(1) {
  width: 1.6rem;
  height: 0.3rem;
  position: absolute;
  top: 0.3rem;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.2rem;
  color: #fff;
  font-weight: bold;
}

.meiri .mr_tu #mr_1 div:nth-child(2) {
  width: 1.6rem;
  height: 0.18rem;
  position: absolute;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 0.6rem;
  color: #fff;
  font-size: 12px;
}

.meiri .mr_tu #mr_1 div:nth-child(3) {
  width: 0.8rem;
  height: 0.24rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0.85rem;
  background: rgba(78, 76, 76, 0.8);
  text-align: center;
  line-height: 0.24rem;
  color: #fff;
}

.meiri .mr_tu #mr_2 {
  height: 1.75rem;
  background: url(../img/lizhi.jpg) no-repeat #fff;
  background-size: 100%;
  background-position: 0 0.65rem;
  position: relative;
}

.meiri .mr_tu #mr_2 div:nth-child(1) {
  width: 0.87rem;
  height: 0.17rem;
  position: absolute;
  top: 0.15rem;
  left: 0.2rem;
  color: #333;
  font-size: 0.16rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.meiri .mr_tu #mr_2 div:nth-child(2) {
  font-size: 0.12rem;
  color: #999;
  width: 0.87rem;
  height: 0.12rem;
  position: absolute;
  top: 0.35rem;
  left: 0.2rem;
}

.meiri .mr_tu #mr_2 div:nth-child(3) {
  width: 0.55rem;
  height: 0.14rem;
  position: absolute;
  left: 0.2rem;
  top: 0.5rem;
  color: #e4393c;
  font-size: 0.12rem;
}

.suib {
  width: 100%;
  height: 0.41rem;
  padding: 10px;
  background: #edede8;
  color: #666666;
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.41rem;
  margin-bottom: 0;
}

.xia {
  background: #edede8;
  width: 100%;
  height: 1rem;
  padding: 10px;
}

.xia .jingd {
  width: 100%;
  height: 0.15rem;
  color: #fc4444;
  text-align: center;
  line-height: 0.15rem;
  font-weight: bold;
}

.xia .yemian {
  color: #444;
  font-size: 0.12rem;
  text-align: center;
  line-height: 0.15rem;
  width: 100%;
  height: 0.15rem;
}

.dianji {
  width: 100%;
  height: 0.4rem;
  background: rgba(219, 217, 217, 0.87);
  position: fixed;
  bottom: -0.1rem;
  left: 0;
  list-style: none;
}

.dianji li {
  text-align: center;
  list-style: none;
  width: 20%;
  height: 100%;
  float: left;
  line-height: 0.6rem;
  position: relative;
}

.dianji li a {
  color: #484849;
  font-size: 0.12rem;
}

.dianji li:nth-child(1)::before {
  content: "";
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  background: url(../img/jd.png);
  background-size: 100%;
}

.dianji li:nth-child(2)::before {
  content: "";
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  background: url(../img/ss.png);
  background-size: 100%;
}

.dianji li:nth-child(3)::before {
  content: "";
  display: block;
  width: 0.47rem;
  height: 0.35rem;
  position: absolute;
  top: -0.15rem;
  margin: auto;
  left: 0;
  right: 0;
  background: url(../img/6.png);
  background-size: 100%;
}

.dianji li:nth-child(4)::before {
  content: "";
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  background: url(../img/gwc.png);
  background-size: 100%;
}

.dianji li:nth-child(5)::before {
  content: "";
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  background: url(../img/grzx.png);
  background-size: 100%;
}
